# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
venv/
env/
ENV/
.venv/
ao/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Backup files
*.bak
*.swp

# Requirements (nếu chưa cần)
Pipfile.lock
